header.main {
    /* background: linear-gradient(to bottom, rgba(62, 78, 92, 0.8) 0%, rgba(62, 78, 92, 0.8) 100%), url('../imgs/bg.png') no-repeat center center fixed; */
    /* background-size: cover; */
    overflow: hidden;
}

body, html {
    width: 100%;
    height: 100%;
}

footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.div-inline {
    display: inline-block;
}